.show-animation {
	animation: show 0.5s ease-in-out;
}

@keyframes show {
	from {
		opacity: 0;
		transform: translateY(-100px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

.hide-animation {
	animation: hide 0.5s ease-in-out;
}

@keyframes hide {
	from {
		opacity: 1;
		transform: translateY(0px);
	}
	to {
		opacity: 0;
		transform: translateY(-100px);
	}
}

.show-animation-scale {
	animation: show-scale 0.5s ease-in-out;
}

@keyframes show-scale {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.falling-to-right-animation {
	animation: falling-to-right 0.5s ease-in-out;
}

@keyframes falling-to-right {
	from {
		opacity: 1;
		transform: translateX(0px);
	}
	to {
		opacity: 0;
		transform: translate(120px, -50px) rotate(80deg);
	}
}

.falling-to-left-animation {
	animation: falling-to-left 0.5s ease-in-out;
}

@keyframes falling-to-left {
	from {
		opacity: 1;
		transform: translateX(0px);
	}
	to {
		opacity: 0;
		transform: translate(-120px, -50px) rotate(-80deg);
	}
}

.falling-to-bottom-animation {
	animation: falling-to-bottom 0.5s ease-in-out;
}

@keyframes falling-to-bottom {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(80px);
	}
}

.blink-animation {
	animation: blink 1s infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
