.button {
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 10px;
	border: 0;
	outline: 0;
	background: transparent;
	border: 3px solid var(--primary-dark);
	transition: all 0.3s ease-in-out;
	font-weight: 600;
	color: white;
}

.button:focus {
	background: var(--primary);
	color: white;
}

.button:hover {
	background: var(--primary);
}

.button.primary {
	background: var(--primary);
	color: white;
}

.button.primary:hover {
	background: var(--primary-dark);
}
