.modal-overlay {
	width: 100%;
	height: 100vh;
	background: rgba(226, 232, 240, 0.5);
	border: 0;
	position: absolute;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	z-index: 100;
}

.modal-overlay.show {
	display: flex;
}

.modal-overlay.hide {
	display: none;
}

.modal {
	width: 400px;
	height: 200px;
	background: var(--tree-trunk-texture);
	color: white;
	padding: 16px;
	border-radius: 8px;
	border: 5px solid var(--tree-trunk-dark);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.modal .modal-title {
	font-size: 20px;
	font-weight: 700;
}

.game-duration-container {
	display: flex;
	justify-content: space-between;
}

.game-duration-container .game-duration {
}

.game-duration input[type="radio"] {
	display: none;
}

.game-duration .game-duration-label {
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 10px;
	border: 0;
	outline: 0;
	background: transparent;
	border: 3px solid var(--primary-dark);
	transition: all 0.3s ease-in-out;
	font-weight: 600;
	color: white;
}

.game-duration-label:hover {
	background: var(--primary);
}

.game-duration input[type="radio"]:checked + .game-duration-label {
	background: var(--primary);
}

.modal .button {
	width: 100%;
}
