.modal-overlay {
	width: 100%;
	height: 100vh;
	background: rgba(226, 232, 240, 0.5);
	border: 0;
	position: absolute;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	z-index: 100;
}

.modal {
	width: 450px;
	height: 300px;
	background: var(--tree-trunk-texture);
	color: white;
	padding: 16px;
	border-radius: 8px;
	border: 5px solid var(--tree-trunk-dark);
	display: flex;
	flex-direction: column;
}

.modal .modal-header {
}

.modal .modal-body {
	margin-top: 20px;
	/* width: 100%; */
}

.modal .modal-footer {
	display: flex;
	gap: 10px;
	margin-top: auto;
}

.modal .modal-title {
	font-size: 20px;
	font-weight: 700;
}

.modal .button {
	width: 100%;
}
